<section data-ng-controller="HomeController">
	<div data-ng-hide="authentication.user">
		<div class="jumbotron text-center row">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<h2>Puget Sound</h2>
					<h1>Elders and Responsible Brothers Training</h1>
				</div>
				<br>
				<a ui-route="/signup" data-ng-class="{active: $uiRoute}" class="btn btn-warning btn-lg" href="/#!/signup"><i class="fa fa-fw fa-plus"></i> Sign Up</a>
			
				<a ui-route="/signin" data-ng-class="{active: $uiRoute}" class="btn btn-primary btn-lg" href="/#!/signin"><i class="fa fa-fw fa-sign-in"></i> Sign In</a>
			</div>
		</div>
		<br>
		<div>
			<p class="lead">
				<b>Training Guidelines and Regulations</b>
				<ul>
					<li>Attire - A tie and a jacket are the recommended attire for each trainee.</li>
					<li>Arrival Time - We recommend the trainees to arrive at [location] by [time], to allow time for parking, collection of badges, seating, and exercise of the spirit:</li>
					<ul>
						<li>Every trainee is expected to be in their seat no later than 5 minutes before the start time of each session.</li>
						<li>Doors will be locked at the start time of each session. Those who arrive late should expect that they will not be able to enter until the next session break.</li>
					</ul>
					<li>Training Outlines - Duplication of the training material is not permitted. For any absent trainees, only the locality coordinator (or an assigned representative) should pick up training outlines at the registration table.</li>
					<li>Attendance - All trainees should arrange their schedule so as not to miss any meeting:</li>
					<ul>
						<li>For the monthly training sessions, three excused absences per year are permitted with prior approval. Any unexcused absence or more than three excused absences will result in dismissal from the training.</li>
						<li>Trainees are required to attend 75% of the weekly study groups for the year. The training is one year in length.</li>
					</ul>
				</ul>
			</p>
		</div>
	</div>
	<div data-ng-show="authentication.user">
		Hello {{authentication.user | json}}
		<br>
		<img src="{{authentication.user.signature}}"/>
	</div>
</section>
<!--<div class="footer container-fluid"> Hey there </div>-->