<section data-ng-controller="HomeController" init="getReady()">
	<div data-ng-hide="user.displayName">
		<div class="jumbotron text-center row">
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<h2>Puget Sound</h2>
					<h1>Elders and Responsible Brothers Training</h1>
				</div>
				<br>
				<a ui-route="/signup" data-ng-class="{active: $uiRoute}" class="btn btn-success btn-lg" href="/#!/signup"><i class="fa fa-fw fa-plus"></i> Begin your Application</a>
				<br>
				<br>
				<p class="lead">or</p>
				<a ui-route="/signin" data-ng-class="{active: $uiRoute}" class="btn btn-info" href="/#!/signin"><i class="fa fa-fw fa-sign-in"></i> Sign In</a>
			</div>
		</div>
		<br>
		<div class = "col-md-offset-2 col-md-8">
			<p class="lead">
				<h3>Dates</h3>
				<ul>
					<li>First gathering: {{trainings[t].begin | date :'longDate'}}, tentatively every third Saturday following</li>
					<li>The training will include 36 lessons over the course of one year.</li>
				</ul>
				<h3>Registration Deadline</h3>
				<p>Registration must be completed by {{trainings[t].registrationDeadline | date:'longDate'}}
				<h3>Location</h3>
				<p>{{trainings[t].location}}: <a target="_blank" href="{{trainings[t].locationUrl}}">{{trainings[t].locationAddress}}</a></p>
				<h3>Time</h3>
				<p>{{trainings[t].time}}</p>
				<h3>Donation</h3>
				<p>{{trainings[t].donation}}<p>
				<h3>Training Guidelines and Regulations</h3>
				<div data-ng-bind-html="trustHtml(trainings[t].guidelines)">
				</div>
			</p>
			<br><br>
		</div>
	</div>
	<!-- /////// REGISTRATION /////// -->
	<div class="row" data-ng-show="user.displayName && !user.registered">
		<h3 class="col-md-12 text-center">Personal Information</h3>
		<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
			<ul class="progress-indicator"> 
				<li class="completed"> <span class="bubble"></span> Account </li> 
				<li class="active"> <span class="bubble"></span> Personal Info </li> 
				<li> <span class="bubble"></span> Consecration </li> 
			</ul>
		</div>
		<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
			<form name="userForm" data-ng-submit="checkRegistration()" class="signin form-horizontal" autocomplete="off">
				<fieldset>
					<div class="form-group">
						<label for="age">Age</label>
						<input type="tel" required id="age" name="age" class="form-control" data-ng-model="user.age" ui-mask="99" autofocus>
					</div>
					<div class="form-group">
						<label for="phone">Phone</label>
						<input type="tel" id="phone" name="phone" class="form-control" data-ng-model="user.phone" ui-mask="(999) 999-9999">
					</div>
					<div class="form-group">
						<label for="locality">Locality</label>
						<select id="locality" name="locality" data-ng-model="user.locality" data-ng-options="locality.name group by locality.area for locality in localities track by locality.name" class="form-control" ></select>
					</div>
					<div class="form-group">
						<label for="occupation">Occupation</label>
						<input type="text" id="occupation" name="occupation" class="form-control" data-ng-model="user.occupation" placeholder="Occupation">
					</div>
					<div class="form-group">
						<label for="language">Language</label>
						<select id="language" name = "language" class="form-control" data-ng-model="user.language">
							<option>English</option>
							<option>Chinese</option>
							<option>Spanish</option>
						</select>
					</div>
					<div class="form-group">
						<label for="serviceAreas">Areas of Service</label>
						<input type="text" id="serviceAreas" name="serviceAreas" class="form-control" data-ng-model="user.serviceAreas" placeholder="Young people, accounting, etc.">
					</div>
					<div class="text-center form-group">
						
						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
						<br>
						<button type="submit" data-ng-disabled="regDisabled" class="btn btn-large btn-primary">Continue Registration</button>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	<!-- /////// CONSECRATION /////// -->
	<div class="row" data-ng-show="user.registered && !user.consecrated">
		<h3 class="col-md-12 text-center">Consecration</h3>
		<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
			<ul class="progress-indicator"> 
				<li class="completed"> <span class="bubble"></span> Account </li> 
				<li class="completed"> <span class="bubble"></span> Personal Info </li> 
				<li class="active"> <span class="bubble"></span> Consecration </li> 
			</ul>
		</div>
		<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
			
		</div>
		<div class="col-xs-12 col-md-offset-3 col-md-6">
		
			<form name="newForm" class="signin form-horizontal" autocomplete="off">
				<fieldset>
					<div data-ng-bind-html="trustHtml(trainings[t].consecration)">
					</div>
					<hr>
					<!--large version-->
					<div class="text-center hidden-xs">	
						<b>Please sign in the box below using your mouse or finger:</b>
						<signature-pad signature accept="accept" clear="clear" style="border: 2px solid gray;"></signature-pad>
						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
						<br>
						<button class="btn" ng-click="clear()">Clear signature</button>
						<button class="btn btn-primary" ng-click="signature = accept(); consecrate()" data-ng-disabled="conDisabled">Sign</button>
					</div>
					<div class="text-center visible-xs">
						<button class="btn btn-primary" ng-click="signModal()">Sign</button>
					</div>
					<br><br>
				</fieldset>
			</form>
		</div>
	</div>{{user | json}}
	<!-- /////// LOGGED IN /////// -->
	<div class="row" data-ng-show="(user.applications[0] && !user.applications[0].appStatus) || user.applications[0].appStatus === 'Pending'">
		<h2 class="col-md-12 text-center">Application Complete <i class="fa fa-2x fa-check text-success"></i></h2>
		<div class="col-xs-offset-2 col-xs-8 col-md-offset-3 col-md-6">
			<ul class="progress-indicator"> 
				<li class="completed"> <span class="bubble"></span> Account </li> 
				<li class="completed"> <span class="bubble"></span> Personal Info </li> 
				<li class="completed"> <span class="bubble"></span> Consecration </li> 
			</ul>
		</div>
		<div class="col-xs-12 col-md-offset-3 col-md-6">
			<hr>
			<p class="lead">Thank you for completing your application. It is now pending approval, and you will receive an email notification when a decision is made.</p>
		</div>
	</div>
	<div class="row text-center" data-ng-show="user.applications[0].appStatus === 'Denied'">
		<h3 class="col-md-12 text-center">You will be contacted soon regarding your application.</h3>
	</div>
	<div class="row text-center" data-ng-show="user.applications[0].appStatus === 'Approved'">
		<h2 class="col-md-12 text-center">Training Resources for {{user.applications[0].training.name}}</h2>
		<a href="/#!/resources" class="btn btn-info btn-lg">View Resources</a>
		<a data-ng-show="myGroups[0]" data-ng-href="/#!/groups/{{myGroups[0]._id}}" class="btn btn-info btn-lg">Study Group</a>
	</div>

	<!-- /////// VIEW APPLICATIONS /////// -->
	<div class="row text-center" data-ng-show="(user.roles.indexOf('approver') > -1 || user.roles.indexOf('admin') > -1)">
		<hr>
		<p class="lead">To view and respond to applications from your locality, please click here:</p>
		<a class="btn btn-lg btn-primary" href="/#!/applications">View Applications</a>
	</div>
</section>
<!--<div class="footer container-fluid"> Hey there </div>-->