<section data-ng-controller="HomeController">
	
	<div data-ng-hide="authentication.user">
		<div class="jumbotron text-center">
			<br>
			<div class="row">
				<div class="col-xs-10 col-xs-offset-1">
					<img src="modules/core/img/brand/eatthebible.png" class="img-responsive" alt="Eat the Bible">
				</div>
				<blockquote>
				  <p>Your words were found and I ate them, and Your word became to me the gladness and joy of my heart.</p>
				  <footer><cite title="Reference">Jeremiah 15:16a</cite></footer>
				</blockquote>
			</div>
			<div class="row">
				<a ui-route="/signup" ng-class="{active: $uiRoute}" class="btn btn-warning btn-lg" href="/#!/signup"><i class="fa fa-fw fa-plus"></i> Sign Up</a>
			
				<a ui-route="/signin" ng-class="{active: $uiRoute}" class="btn btn-primary btn-lg" href="/#!/signin"><i class="fa fa-fw fa-sign-in"></i> Sign In</a>
			</div>
		</div>
		<div class="row">
			<div class="list-group col-xs-10 col-xs-offset-1">
				<h1>Get Started!</h1>
				<div class="list-group-item text-warning">
					<i class="fa fa-edit fa-2x fa-fw"></i> <span class="h2">Sign up</span>
				</div>
				<div class="list-group-item text-primary">
					<i class="fa fa-calendar fa-2x fa-fw"></i> <span class="h2">Choose a plan</span>
				</div>
				<div class="list-group-item text-success" style="background : lightorange;">
					<i class="fa fa-bookmark fa-2x fa-fw success"></i> <span class="h2">Enter chapters you read</span>
				</div>
			</div>
		</div>
	</div>
	<div data-ng-controller="ChaptersController" data-ng-init="init()" data-ng-show="authentication.user">
		<div cg-busy="{promise:loadingPromise,message:'Loading ...'}"></div>
		<div data-ng-show="loaded">
			<!--<div class="jumbotron text-center">-->
				<div class="row">
					<div class="col-md-4 pull-left" data-ng-show="plans">
						<tabset vertical="true" type ="pills">
							<tab data-ng-repeat="plan in plans" active="plansTabs[$index]" data-ng-click="changePlan($index)">
								<tab-heading>
									{{plan.name}} <span class="badge">{{plan.chapters.length}}/{{plan.pace}}</span>
								</tab-heading>
								<!--<b>Progress:</b> {{plan.chapters.length}} / {{plan.pace}} chapters today 
								<progressbar value="plan.chapters.length" type="success" max="plan.pace"></progressbar>-->
							</tab>
						</tabset>
					</div>
					<div class="col-md-4 h2 pull-left" data-ng-hide="plans.length">Choose a reading plan to get started!</div>
				</div>
			<!--</div>-->	
			
			<br>
			<div class="well" data-ng-show="completed">
				<div class="h2">
					You've read all your chapters for today!
					<button class="btn btn-info btn-lg" data-ng-click="beginPlanPortion()">
						Keep Reading
					</button>
				</div>
			</div>
			
			<mydir-show-chapter-text data-ng-show="plans.length && !completed"></mydir-show-chapter-text>
			<mydir-nav-chapter data-ng-show="plans.length && !completed"></mydir-nav-chapter>
			
			<!--<form class="form-inline well" data-ng-show="plans.length && !completed" data-ng-submit="submitChapterRange()" novalidate>
				<fieldset>
	                <div class="form-group">
	                    <div class="controls">
	                        <input type="text" data-ng-model="range" id="range" class="form-control" placeholder="enter a chapter range: 'Gen 1'">
	                    </div>
	                </div>
	                <div class="form-group">
	                    <input type="submit" class="btn btn-default">
	                </div>
					<span class="label label-{{alert.type}}" data-ng-repeat="alert in alerts"><i class="fa fa-{{alert.icon}}"></i> {{alert.msg}} </span>
					<div data-ng-show="error" class="text-danger">
						<strong data-ng-bind="error">{{error}}</strong>
					</div>
	            </fieldset>
	        </form>-->

		</div>
	</div>	
</section>