<section class="row" data-ng-controller="SettingsController">
	<h3 class="col-md-12 text-center">Consecration</h3>
	<div class="col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4">
		<uib-progress max="3" title="Progress">
			<uib-bar value="1" type="primary">Account >></uib-bar>
			<uib-bar value="1" type="primary">Personal >></uib-bar>
			<uib-bar value="1" type="warning">Consecration</uib-bar>
		</uib-progress>
	</div>
	<div class="col-xs-12 col-md-offset-3 col-md-6">
	
		<form name="newForm" class="signin form-horizontal" autocomplete="off">
			<fieldset>
				<div>	
					Lord Jesus,
					<br><br>
					I love You. I love Your church, Your saints, and Your recovery. I am Your purchased slave and do not wish to go free. By Your mercy and grace I will serve You now and forever.
					<br><br>
					I join this training not by compulsion but eagerly because I desire to be further perfected in Your hands and for Your use. Help me to be poor in spirit and pure in heart so Your word can have an uninhibited course in me. Free me from all self-pride and personal ambition. Grant me the readiness to receive Your instructions and the obedience to follow them.
					<br><br>
					Give me a pursuing spirit so that I will gain what You want me to gain in the training. Supply me with an attitude to learn so that I will be genuinely equipped. Strengthen me to exercise diligence and endurance to meet the demands of the training and to fulfill its requirements. Blend me with my companions as we practice the things which are taught. Save me from individualism and independence.
					<br><br>
					I present myself to You afresh and offer my being anew for the service of the church where I am placed. Make me a genuine steward of Your household, dispensing food to Your people at the appointed time. Whether I will be a leading brother or not, constitute me one of the normal, functioning, and coordinated members in Your Body according to the measure of faith which You have allotted to me.
					<br><br>
					I entrust to You my whole being, my life, and my future. I trust in Your faithful care and protection of my wife, children, and family during the training period when I will be concentrating on Your interests. I submit to Your sovereign arrangements in all things.
					<br><br>
					Bless me and all my co-trainees and the churches for the sake of Your testimony. Lord Jesus, I thank You for affording me this opportunity to be trained for Your purpose.
					<br><br>
					Amen.
					<br><br>
					<b>Please sign in the box below using your mouse or finger:</b>
					<hr>
				</div>
				<div class="text-center">	
					<signature-pad signature accept="accept" clear="clear" height="220" width="568"></signature-pad>
					<hr>
					<div data-ng-show="error" class="text-center text-danger">
						<strong data-ng-bind="error"></strong>
					</div>
					<br>
					<button class="btn" ng-click="clear()">Clear signature</button>
					<button class="btn btn-primary" ng-click="signature = accept(); consecrate()">Sign</button>
				</div>
				<br><br>
			</fieldset>
		</form>
	</div>
</section>