.content {
	margin-top: 50px;
}
.undecorated-link:hover {
	text-decoration: none;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}
.ng-invalid.ng-dirty {
	border-color: #FA787E;
}
.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.sociallink {
	padding: 10px;
}

.google {
	color: #dd4b39;
}

.jumbotron {
background-image: url("../img/brand/banner.jpg");
background-size: cover;
}

.footer {
	background-color: #D5D5D5;
	height: 50px;
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
}