<section data-ng-controller="GroupsController" data-ng-init="find()">
    <div class="page-header">
        <h1>{{localityId}} Study Groups</h1>
    </div>
    <div class="list-group col-md-6">
        <div data-ng-repeat="group in groups"  class="list-group-item">
			<a class="b lead list-group-item-heading" data-ng-href="/#!/groups/{{group._id}}">{{group.locality.name}} {{group.language}} Study Group {{$index + 1}}</a>
            <span class="pull-right" data-ng-show="user.roles.indexOf('approver') > -1 || user.roles.indexOf('admin') > -1"><a data-ng-href="#!/groups/{{group._id}}/edit"><i class="fa fa-edit fa-2x"></i></a>
            </span>
            <p>
                <b>Where:</b> {{group.meeting.place}} 
                <br>
                <b>When:</b> {{getWeekday(group.meeting.day)}}, {{group.meeting.time | date:'shortTime'}}
            </p>
            <b>Users:</b>
            <div class="dragContainer" ui-on-Drop="onDrop($event,$data,group.users)">
                <button class="btn" ui-draggable="true" drag="asUser" 
                on-drop-success="dropSuccessHandler($event,$index,group.users)"
                ng-repeat="asUser in group.users track by $index">
                    {{asUser.displayName}}
                    <span data-ng-show="asUser.locality.area !== ''"> ({{asUser.locality.name}})</span>
                </button>
            </div>
        </div>
        <br><br>
        <a class="btn btn-info" data-ng-show="user.roles.indexOf('approver') > -1 || user.roles.indexOf('admin') > -1" href="/#!/groups/create">Create Study Group</a>
    </div>
    <div class="col-md-6 container">
        <h2>Unassigned in {{localityId}}</h2>
        <h4>(drag to group to assign)</h4>
        <div class="dragContainer" ui-on-Drop="onDrop($event,$data,unassigned)">
            <button class="btn" ui-draggable="true" drag="unUser" 
                on-drop-success="dropSuccessHandler($event,$index,unassigned)"
                ng-repeat="unUser in unassigned track by $index">
                {{unUser.displayName}}
                <span data-ng-show="unUser.locality.area !== ''"> ({{unUser.locality.name}})</span>
            </button> 
        </div>
        <button class="btn btn-primary" data-ng-click="updateAll()" ladda="laddaButton.loading">Save Changes <i class="fa" data-ng-class="laddaButton.resultIcon"></i></button>
    </div>
</section>