<section data-ng-controller="GroupsController" data-ng-init="findOne()">
	<div class="page-header">
		<h2 class="list-group-item-heading">{{group.locality.name}} {{group.language}} Study Group</h2>
	</div>
	<div class="pull-right" data-ng-show="user.roles.indexOf('approver') > -1 || user.roles.indexOf('admin') > -1">
		<a class="btn btn-primary" href="/#!/groups/{{group._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
	</div>
    <p class="lead">
        <b>Where:</b> {{group.meeting.place}} 
        <br>
        <b>When:</b> {{getWeekday(group.meeting.day)}}, {{group.meeting.time | date:'shortTime'}}
        <h3>Members:</h3>
	    <ul>
	        <li class="lead" data-ng-repeat="user in group.users">
	        	{{user.displayName}}
	        </li>
	    </ul>
    </p>
</section>
