<section data-ng-controller="GroupsController" data-ng-init="findOne()">
	<div class="page-header">
		<a data-ng-show="user.roles.indexOf('approver') > -1 || user.roles.indexOf('admin') > -1" href="/#!/groups">Back to Study Groups</a>
		<h2>{{group.locality.name}} {{group.language}} Study Group</h2>
	</div>
	<div data-ng-show="user.roles.indexOf('approver') > -1 || user.roles.indexOf('admin') > -1">
		<a class="pull-right btn btn-primary" href="/#!/groups/{{group._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
	</div>
    <p class="lead">
        <b>Where:</b> {{group.meeting.place}} 
        <br>
        <b>When:</b> {{getWeekday(group.meeting.day)}}, {{group.meeting.time | date:'shortTime'}}
        <h3>Members:</h3>
	    <table class="table table-striped">
            <thead>
            	<tr>
            		<th>Member</th>
            		<th data-ng-show="user.roles.indexOf('reporter') > -1 || user.roles.indexOf('approver') > -1 || user.roles.indexOf('admin') > -1">Role</th>
            		<th data-ng-show="user.roles.indexOf('reporter') > -1 || user.roles.indexOf('approver') > -1 || user.roles.indexOf('admin') > -1">Action</th>
            	</tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="groupUser in group.users">
                    <td>{{groupUser.displayName}} <span data-ng-show="u.locality.area !== 'Puget Sound'"> ({{groupUser.locality.name}})</span></td>
                    <td>
                        <span class="text-info" data-ng-show="groupUser.roles.indexOf('reporter') > -1">Group Reporter</span>
			        </td>
			        <td>
			        	<button class="btn btn-danger" data-ng-show="groupUser.roles.indexOf('reporter') > -1 && (user.roles.indexOf('approver') > -1 || user.roles.indexOf('admin') > -1)" data-ng-click="removeReporter($index)"><i class="fa fa-times"></i> Remove
			        	</button>
			        	<span data-ng-show="groupUser.roles.indexOf('reporter') < 0 && (user.roles.indexOf('approver') > -1 || user.roles.indexOf('admin') > -1)">
			        		<button class="btn btn-info" data-ng-click="makeReporter($index)" ladda="roleButtons[$index].loading">Make Reporter <i class="fa" data-ng-class="roleButtons[$index].resultIcon"></i></button>
			        	</span> 
                    </td>
                </tr>
            </tbody>
        </table>
	    <div data-ng-show="user.roles.indexOf('reporter') > -1 || user.roles.indexOf('approver') > -1 || user.roles.indexOf('admin') > -1" data-ng-controller="ReportsController" data-ng-init="groupReports()">
	    	<h3>Session Reports</h3>
	    	<table class="table">
	    		<thead>
	    			<tr>
	    				<th>Date</th>
	    				<th>Lesson</th>
	    				<th>Present</th>
	    				<th>Absent</th>
	    				<th>Comment</th>
	    				<th>Reported By</th>
	    			</tr>
	    		</thead>
		    	<tbody>
			    	<tr data-ng-repeat="report in reports">
			    		<td><a data-ng-href="/#!/reports/{{report._id}}">{{report.sessionDate | date}}</a></td>
						<td>{{report.lesson}}</td>
						<td>{{report.present.length}}</td>
						<td>{{report.absent.length}}</td>
			    		<td>{{report.comment}}</td>
			    		<td>{{report.user.displayName}}</td>
			    	</tr>
			    </tbody>
	    	</table>
	    	
	    	<a class="btn btn-info" data-ng-href="/#!/groups/{{group._id}}/reports/create"><i class="fa fa-plus"></i> New Study Group Report</a>
	    </div>
    </p>
</section>
