.DS_Store
.nodemonignore
.sass-cache/
npm-debug.log
node_modules/
public/lib
app/tests/coverage/
public/dist/
.bower-*/
.idea/
data/
node_modules/
test.*
lettheword.sublime*
*.env
*.xcf
DeploymentNotes.md