<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<a href="http://www.nwtraining.us">
		<h2>{{appName}}</h2>
	</a>
	<p>Dear {{name}},</p>
	<p>
	<p>You've been assigned to enter short reports on your weekly study group sessions at nwtraining.us. You'll find more options available to you the next time you sign in.</p>
	<p>Please contact us with any questions or suggestions at support@nwtraining.us</p>
	<br>
	<p>The {{appName}} Support Team</p>
</body>
</html>