<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
	<a href="http://www.eatthebible.com">
		<h2>Eat the Bible</h2>
	</a>
	<p>Dear {{name}},</p>
	<p>
		Welcome to EatTheBible.com! Our goal is to help you build a habit of reading the Bible daily. Here's how to get started:
	</p>
	<ul>
		<li>
			<h3>Pick a reading plan</h3> You'll be directed to the <i>Plans</i> area as soon as you log in. You can choose from preset plans, or create your own. Once you choose at least one plan, your chapters for each day will be automatically queued up whenever you visit the site.
		</li>
		<li>
			<h3>Join a group</h3> In order to encourage yourself and others, groups allow you to follow one another's progress and share what you enjoy in your reading. Go to the <i>Groups</i> area to create a new group or join one by entering an access token.
		</li>
		<li>
			<h3>Take notes</h3> Each verse reference is a link that will allow you to write a note on the verse for your reference, and/or to share with your groups. 
		</li>
		<li>
			<h3>Earn badges</h3> When you finish a reading plan, you'll earn a badge. You can see all of your badges, notes you've saved, and other information in the <i>Profile</i> area.
		</li>
		<li>
			<h3>Customize your reading</h3> By clicking the gear icon at the top right of the home screen, you can change the size of the text display and choose which translation of the Bible you'd like to read. The default translation is the Holy Bible Recovery Version published by Living Stream Ministry, but you can choose from 41 other translations in 28 languages, including biblical Greek and Hebrew.
		</li>
	</ul>
	<p>Please contact us with any questions or suggestions at support@eatthebible.com</p>
	<br>
	<p>The {{appName}} Support Team</p>
</body>
</html>