<section data-ng-controller="PlansMainController">
    <div class="page-header">
        <a href="/#!/plans"><i class="fa fa-angle-double-left"></i> Back To Plans</a>
        <br>
        <div class="h1">
            <i class="fa fa-calendar fa-1x"></i> Create Plan
        </div>
    </div>
    <div class="row text-center">
        <form class="form-inline col-md-12" data-ng-submit="myCreate()" novalidate>
            <br>
            <div class="">
                <div class="input-group col">
                    <label class="b input-group-addon"><b>Plan Name</b>
                    </label>
                    <input type="text" data-ng-model="name" name="name" class="form-control">
                </div>
                <br>
                <div class="input-group col">
                    <label class="b input-group-addon info"><i class="fa fa-fw fa-step-backward"></i> <b>First</b>
                    </label>
                    <input type="text" data-ng-model="startChapter" name="startChapter" class="form-control" placeholder="Examples: Gen 1, Exodus 14">
                </div>
                <br>
                <div class="input-group">
                    <label class="b input-group-addon info"><i class="fa fa-fw fa-step-forward"></i> <b>Last</b>
                    </label>
                    <input type="text" data-ng-model="endChapter" name="endChapter" class="form-control" placeholder="You can abbreviate books">
                </div>
            </div>
            <div class="">
                <div class="h3"><i class="fa fa-clock-o"></i> Pace</div>
                <div class="col-xs-5 col-md-2 input-group text-left">
                    
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-chevron-down"></i></button>
                    </span>
                    <input type="text" class="form-control" data-ng-model="pace" name="pace" value="1">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-chevron-up"></i></button>
                    </span>
                </div>
                <br><br>
            </div>
            <div>
                <alert data-ng-repeat="alert in updateAlerts" type="{{alert.type}}" close="closeUpdateAlert($index)" dismiss-on-timeout="3500">{{alert.msg}}</alert>
            </div>
            <div>
                <input type="submit" class="btn btn-success text" value="Save">
            </div>
        </form>
    </div>
    <br>
       
</section>
