<section data-ng-controller="PlansMainController" data-ng-init="findOne()">
    <div class="page-header">
        <div><a href="/#!/plans"><i class="fa fa-angle-double-left"></i> Back To Plans</a>
        <br>
        <div>
            <a class="pull-right" ng-click="optionsCollapsed = !optionsCollapsed"><i class="fa fa-2x fa-fw fa-chevron-down"></i></a>
            <div data-uib-collapse="!optionsCollapsed">
                <div class="well well-lg">
                    <a class="btn btn-danger" style="margin-right: 100px;" data-ng-click="remove();">
                        <i class="fa fa-times"></i> Delete Plan
                    </a>
                </div>
                </div>
            </div>
        </div> 
        <span class="h2" data-ng-bind="plan.name"></span>
    </div>
    <div class="row">
        <!--<div class="col-10 col-offset-1 text-center">
            <button class="btn btn-default btn-warning" data-ng-show="plan.active" data-ng-click="activate('Plan paused.')">
                <i class="fa fa-fw fa-pause"></i> Pause Plan
            </button>
            <button class="btn btn-default btn-success" data-ng-hide="plan.active" data-ng-click="activate('Plan resumed.')">
                <i class="fa fa-fw fa-play"></i> Resume Plan
            </button>
        </div>-->
        <form class="form-inline col-md-12 text-center" data-ng-submit="updatePlan()" novalidate>
            <br>
            <div class="">
                <div class="input-group">
                    <label class="b input-group-addon"><b>Name</b>
                    </label>
                    <input type="text" data-ng-model="name" name="name" class="form-control">
                </div>
                <br><br>
                <div class="input-group">
                    <label class="b input-group-addon success"><i class="fa fa-fw fa-bookmark"></i> <b>Next</b>
                    </label>
                    <input type="text" data-ng-model="cursor" name="cursor" class="form-control">
                </div>
                <br><br>
                <div class="input-group">
                    <label class="b input-group-addon"><i class="fa fa-fw fa-clock-o"></i> <b>Pace</b>
                    </label>
                    <input type="text" data-ng-model="pace" name="pace" class="form-control">
                </div>
                <br><br>
            </div>
            <div class="">
                <div class="input-group col">
                    <label class="b input-group-addon info"><i class="fa fa-fw fa-step-backward"></i> <b>First</b>
                    </label>
                    <input type="text" data-ng-model="startChapter" name="startChapter" class="form-control">
                </div>
                <br><br>
                <div class="input-group">
                    <label class="b input-group-addon info"><i class="fa fa-fw fa-step-forward"></i> <b>Last</b>
                    </label>
                    <input type="text" data-ng-model="endChapter" name="endChapter" class="form-control">
                </div>                
                <br><br>
                <input type="submit" class="btn btn-success" value="Save">
            </div>
        </form>
        <br>
        
            <alert data-ng-repeat="alert in updateAlerts" type="{{alert.type}}" close="closeUpdateAlert($index)" dismiss-on-timeout="3500">{{alert.msg}}</alert>
          
    </div>
</section>

