<section data-ng-controller="PlansMainController" data-ng-init="find()">
    <div class="page-header">
        <h1>Plans</h1>
    </div>
    <div data-ng-show="plans"><h3>Current Plan(s)</h3>
        <accordion data-close-others="true" class="info"> 
            <accordion-group data-ng-repeat="plan in plans" data-ng-click="setPlan(plan)" data-is-open="status.isItemOpen[$index]">
                <accordion-heading>
                    {{plan.name}} <b class="caret"></b>
                </accordion-heading>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="alert col-xs-6 col-xs-offset-3 text-center alert-warning" data-ng-hide="plan.active">Plan paused!</div>
                    </div>
                    <div class="col-md-4 col-offset-1">
                        <strong>Next chapter:</strong> {{cursor}}
                        <br><br>
                        <strong>First chapter:</strong> {{startChapter}}
                        <br>
                        <strong>Last chapter:</strong> {{endChapter}}
                        <br><br>
                    </div>
                    <div class="col-md-4">
                        <strong>Plan started:</strong> <em>{{plan.created | date}}</em>
                        <br><br>
                        {{plan.cursor - plan.startChapter}} of {{plan.endChapter - plan.startChapter}} chapters read 
                        <progressbar value="plan.cursor - plan.startChapter" max="plan.endChapter - plan.startChapter"></progressbar>
                        <strong>Projected completion:</strong> <em>{{projected | date}}</em>
                        <br>
                    </div>
                    <br>
                    <div class="col-md-4">
                        <a class="btn btn-primary" href="/#!/plans/{{plan._id}}/edit">
                            <i class="glyphicon glyphicon-edit"></i>
                        </a>
                        <a class="btn btn-small btn-danger" data-ng-click="remove(plan);">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!plans.$resolved || plans.length">
    	No Plans yet, why don't you add one?
    </div>
    <br>
    <div class="row">
        <h3 class="modal-title">Add a Plan</h3>
    </div>
    <div class="">
        <div>
            <button class="btn btn-success" style="margin: 5px;" data-ng-repeat="item in items" data-ng-click="createMultiple(item)">
                {{ item.name }}
            </button>
        </div>
        <br>
        <div>
            <alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="3500">{{alert.msg}}</alert>
        </div>
    </div>
</section>