<div class="modal-header" data-ng-show="plans"><h3>Current Plan(s):</h3>
	<accordion data-close-others="true" class="info"> 
		<accordion-group data-ng-repeat="plan in plans" data-ng-click="setPlan(plan)">
			<accordion-heading>
				{{plan.name}} <b class="caret"></b>
			</accordion-heading>
			<div class="row">
				<div class="col-sm-4">
					{{plan.cursor - plan.startChapter}} chapters read
				</div>
				<div class="col-sm-6">
					<uib-progressbar value="plan.cursor - plan.startChapter" max="plan.endChapter - plan.startChapter"></uib-progressbar>
				</div>
				<a class="btn btn-small btn-danger" data-ng-click="remove(plan);">
					<i class="glyphicon glyphicon-trash"></i>
				</a>
			</div>
			<hr>
			<div class="h4">
				Edit Plan
			</div>
			<div class="row">
				<form class="form-inline col-md-12" data-ng-submit="updatePlan($index)" novalidate>
					<fieldset>
						<label class="h5">Next Chapter: </label>
						<formgroup class="pull-right">
							<input type="text" data-ng-model="cursor" name="cursor" class="form-control">
		               	</formgroup>
					</fieldset>
					<br>
					<fieldset>
						<label class="h5">Start Chapter: </label>
						<formgroup class="pull-right">
							<input type="text" data-ng-model="startChapter" name="startChapter" class="form-control">
		               	</formgroup>
					</fieldset>
					<fieldset>
						<label class="h5">End Chapter: </label>
						<formgroup class="pull-right">
							<input type="text" data-ng-model="endChapter" name="endChapter" class="form-control">
		               	</formgroup>
					</fieldset>
					<br>
					<fieldset>
						<label class="h5">Reading Pace: </label>
						<formgroup class="pull-right">
							<input type="text" data-ng-model="pace" name="pace" class="form-control">
		               	</formgroup>
					</fieldset>
					<br>
					<input type="submit" class="btn btn-success pull-right" value="Save">
				</form>
			</div>
			<br>
			<div class="row">
				<alert data-ng-repeat="alert in updateAlerts" type="{{alert.type}}" close="closeUpdateAlert($index)" dismiss-on-timeout="3500">{{alert.msg}}</alert>
			</div>   
		</accordion-group>
	</accordion>
</div>
 
<div class="modal-header">
    <h3 class="modal-title">Add a Plan</h3>
</div>
<div class="modal-body">
    <div>
        <button class="btn btn-default" style="margin: 5px;" data-ng-repeat="item in items" data-ng-click="createMultiple(item)">
        	{{ item.name }}
        </button>
    </div>
    <br>
    <div>
    	<alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="3500">{{alert.msg}}</alert>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" data-ng-click="cancel()">Cancel</button>
    <button class="btn btn-primary" data-ng-click="ok()">OK</button>
</div>