<section data-ng-controller="TrainingsController" data-ng-init="findOne()">
	<div class="page-header">
		<a href="/#!/admin">Back to Admin</a>
		<h1 data-ng-bind="training.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="(authentication.user.roles.indexOf('admin') > -1)">
		<a class="btn btn-primary" href="/#!/trainings/{{training._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<div>
		<pre>{{training | json}}</pre>
	</div>
	<small>
		<em class="text-muted">
			Created on
			<span data-ng-bind="training.created | date:'mediumDate'"></span>
		</em>
	</small>
</section>
