<section data-ng-controller="ChaptersController" data-ng-init="find()" data-ng-show="authentication.user">
    <div class="page-header">
        <h1>Chapters</h1>
    </div>
    <div class="list-group">
        <a data-ng-repeat="chapter in chapters" data-ng-href="#!/chapters/{{chapter._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="chapter.created | date:'medium'"></span>
				by
				<span data-ng-bind="chapter.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="chapter.name"></h4>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!chapters.$resolved || chapters.length">
    	No Chapters yet, why don't you <a href="/#!/chapters/create">create one</a>?
    </div>
</section>