<div class="panel panel-default" data-ng-show="chapterTextArray">
	<div class="panel-heading" data-ng-show="chapterTextArray">
		<h2 class="panel-title">Current chapter: <b>{{currentChapter}}</b></h2>
	</div>
	<div class="panel-body"> 
		<div class="lead" data-ng-repeat="chapterText in chapterTextArray">
			<span data-ng-repeat="verse in chapterText.data.verses"> <sup class="text-muted">{{verse.ref.split(':')[1]}}</sup>{{verse.text}}</span>
		</div>
		<small class="text-muted">{{chapterTextArray[0].data.copyright}}</small>
	</div>
</div>