<div class="h4 pull-left"><b>{{chapterText.inputstring}}</b></div>
<br>
<hr>
<div> 
	<div class="lead text-justify" data-ng-style="bibleTextStyle">
		<span data-ng-repeat="verse in chapterText.verses" data-ng-style="bibleTextStyle">
			<a href="#" data-ng-click="openMessagesModal(chapterText.inputstring, verse)"><sup data-ng-click="share(verse.text)"><u>{{::verse.ref}}</u></sup></a><span data-ng-bind-html="sceTrust(verse.text)"></span>
		</span>
	</div>
	<small class="text-muted">{{chapterText.copyright}}</small>
</div>