<div class="panel panel-default">
	<div class="panel-heading">
		<h2 class="panel-title">Current chapter: <b>{{chapterText.inputstring}}</b></h2>
	</div>
	<div class="panel-body"> 
		<div cg-busy="textPromise"></div>
	
		<div class="lead">
			<span data-ng-repeat="verse in chapterText.verses"> <sup class="text-muted" data-ng-click="share(verse.text)">{{verse.ref}}</sup><span data-ng-bind-html="sceTrust(verse.text)"></span></span>
		</div>
		<small class="text-muted">{{chapterText.copyright}}</small>
	</div>
</div>