<section class="row" data-ng-controller="SettingsController" data-ng-init="getActivity()">
	<div class="h4 text-center">
		<br>
		<a href="/#!/settings/accounts">Link Accounts</a> 
		<span data-ng-show="user.provider === 'local'">
				| <a href="/#!/settings/password">Change Password</a>
		</span>
	</div>
	<div class="col-xs-12 col-md-12">
		<h2 class="text-center">Profile Details</h2>
		<form name="userForm" data-ng-submit="updateUserProfile(userForm.$valid)" class="signin form-horizontal" novalidate autocomplete="off">
			<div class=" col-xs-offset-1 col-xs-10 col-md-offset-4 col-md-4 text-left">
				<fieldset>
					<div class="form-group">
						<label for="firstName">First Name</label>
						<input type="text" id="firstName" name="firstName" class="form-control" data-ng-model="user.firstName" placeholder="First Name">
					</div>
					<div class="form-group">
						<label for="lastName">Last Name</label>
						<input type="text" id="lastName" name="lastName" class="form-control" data-ng-model="user.lastName" placeholder="Last Name">
					</div>
					<div class="form-group">
						<label for="email">Email</label>
						<input type="email" id="email" name="email" class="form-control" data-ng-model="user.email" placeholder="Email" disabled>
					</div>
					<div class="form-group">
						<label for="age">Age</label>
						<input type="tel" required id="age" name="age" class="form-control" data-ng-model="user.age" ui-mask="99" autofocus>
					</div>
					<div class="form-group">
						<label for="phone">Phone</label>
						<input type="tel" id="phone" name="phone" class="form-control" data-ng-model="user.phone" ui-mask="(999) 999-9999">
					</div>
					<div class="form-group">
						<label for="locality">Locality</label>
						<select id="locality" name="locality" data-ng-model="user.locality" data-ng-options="locality.name group by locality.area for locality in localities track by locality.name" class="form-control" ></select>
					</div>
					<div class="form-group">
						<label for="occupation">Occupation</label>
						<input type="text" id="occupation" name="occupation" class="form-control" data-ng-model="user.occupation" placeholder="Occupation">
					</div>
					<div class="form-group">
						<label for="language">Language</label>
						<select id="language" name = "language" class="form-control" data-ng-model="user.language">
							<option>English</option>
							<option>Chinese</option>
							<option>Spanish</option>
						</select>
					</div>
					<div class="form-group">
						<label for="serviceAreas">Areas of Service</label>
						<input type="text" id="serviceAreas" name="serviceAreas" class="form-control" data-ng-model="user.serviceAreas" placeholder="Young people, accounting, etc.">
					</div>
				</fieldset>
				<div class="form-group">
					<button type="submit" ladda="laddaButton.loading" data-ng-disabled="laddaButton.disabled" class="btn btn-large btn-primary">Save <i class="fa" data-ng-class="laddaButton.resultIcon"></i></button>
				</div>
			</div>
			<!--<div class="col-xs-offset-2 col-xs-8 col-md-offset-1 col-md-4">
				<h3 class="text-center">Preferences</h3>
					<fieldset>
						<div data-ng-show="success" class="text-center text-success">
							<strong>Preferences Saved Successfully</strong>
						</div>
						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
							
					</fieldset>
			</div>-->
			
		</form>
	</div>
</section>