<section id="top" data-ng-controller="ApplicationsController" data-ng-init="showApplications()" data-ng-show="(user.roles.indexOf('approver') > -1 || user.roles.indexOf('admin') > -1)">
    <div class="page-header">
        <div class="h1">
            <i class="fa fa-check-circle fa-1x"></i> 
            <span data-ng-show="!locality.name">{{locality.area}}</span>
            <span data-ng-show="!locality.area">{{locality.name}}</span>
            Applications
        </div>
    </div>
    <div class="overlay" data-ng-show="loading">
        <div class="overlay overlay-content text-center"><i class="fa fa-circle-o-notch fa-spin"></i> Loading</div>
    </div>
    <div class="">
        <div class="bg-info lead col-md-12 col-xs-12">
            <i class="fa fa-info-circle fa-2x text-info"></i> 
            <ul>
                <li><span class="strong text-success">Approving</span> an application will send a notification email.</li>
                <li>If you <span class="strong text-warning">deny</span> an application, no email will be sent. Please contact that person directly.</li>
        </div> 
        <h3>Search by Name: <input type="text" data-ng-model="searchString" autofocus/></h3>
        <h3 data-ng-show="user.roles.indexOf('admin') > -1">Search by Locality: <input type="text" data-ng-model="searchLocality"/></h3>
        <!-- Show PENDING applications -->
        <ul class="list-group">
            <li class="h3 list-group-item list-group-item-warning"><i class="fa fa-circle-o fa-fw"></i> Pending Applications <span class="badge">{{pendingApplications.length}}</span></li>
            <li class="list-group-item" data-ng-repeat="application in pendingApplications | filter: {applicant: {displayName: searchString, locality: {name: searchLocality} } }">
                <span class=" h3">{{application.applicant.displayName}}<span class="small"> on {{application.created | date}}</span></span>
                <br><br>
                <button class="btn btn-default btn-sm pull-right" data-ng-click="showUserDetails[$index] = !showUserDetails[$index]">
                    <i class="fa fa-ellipsis-v fa-fw fa-2x"></i> <span class="hidden-xs h4">Show Details</span>
                </button>
                <button class="btn btn-success btn-sm pull-right" data-ng-click="approveApplication(application)">
                    <i class="fa fa-check fa-fw fa-2x"></i> <span class="hidden-xs h4">Approve Application</span>
                </button>
                <button class="btn btn-danger btn-sm pull-right" data-ng-click="denyApplication(application)">
                    <i class="fa fa-times fa-fw fa-2x"></i> <span class="hidden-xs h4">Deny Application</span>
                </button>
                <br><br>
                <div data-ng-show="showUserDetails[$index]" class="well well-sm h4">
                    <b>Email:</b> {{application.applicant.email}}<br><br>
                    <b>Phone:</b> {{application.applicant.phone}}<br><br>
                    <b>Age:</b> {{application.applicant.age}}<br><br>
                    <b>Locality:</b> {{application.applicant.locality.name}}<br><br>
                    <b>Language:</b> {{application.applicant.language}}<br><br>
                    <b>Occupation:</b> {{application.applicant.occupation}}<br><br>
                    <b>Service Areas:</b> {{application.applicant.serviceAreas}}<br><br>
                    <b>Applied:</b> {{application.applicant.consecrated | date}} <img data-ng-src="{{application.signature}}" height="35px"/><br>
                </div>
            </li>
        </ul>
        <br>
        <!-- Show APPROVED applications -->
        <ul class="list-group">
            <li class="h3 list-group-item list-group-item-success"><i class="fa fa-check-circle-o fa-fw"></i> Approved <span class="badge">{{approvedApplications.length}}</span></li>
            <li class="list-group-item" data-ng-repeat="application in approvedApplications | filter: {applicant: {displayName: searchString, locality: {name: searchLocality} } }">
                <span class=" h3">{{application.applicant.displayName}} <span class="small"> approved by {{application.modifiedBy.displayName}} on {{application.modified | date}}</span></span>

                <br><br>
                <button class="btn btn-default btn-sm pull-right" data-ng-click="showUserDetails[$index] = !showUserDetails[$index]">
                    <i class="fa fa-ellipsis-v fa-fw fa-2x"></i> <span class="hidden-xs h4">Show Details</span>
                </button>
                <button class="btn btn-warning btn-sm pull-right" data-ng-click="resetApplication(application)">
                    <i class="fa fa-circle-o fa-fw fa-2x"></i> <span class="hidden-xs h4">Return to Pending</span>
                </button>
                <br><br>
                <div data-ng-show="showUserDetails[$index]" class="well well-sm h4">
                    <b>Email:</b> {{application.applicant.email}}<br><br>
                    <b>Phone:</b> {{application.applicant.phone}}<br><br>
                    <b>Age:</b> {{application.applicant.age}}<br><br>
                    <b>Locality:</b> {{application.applicant.locality.name}}<br><br>
                    <b>Language:</b> {{application.applicant.language}}<br><br>
                    <b>Occupation:</b> {{application.applicant.occupation}}<br><br>
                    <b>Service Areas:</b> {{application.applicant.serviceAreas}}<br><br>
                    <b>Applied:</b> {{application.applicant.consecrated | date}} <img data-ng-src="{{application.signature}}" height="35px"/><br>
                </div>
            </li>
        </ul>
        <br>
        <!-- Show DENIED applications -->
        <ul class="list-group">
            <li class="h3 list-group-item list-group-item-danger"><i class="fa fa-times-circle-o fa-fw"></i> Denied <span class="badge">{{deniedApplications.length}}</span></li>
            <li class="list-group-item" data-ng-repeat="application in deniedApplications | filter: {applicant: {displayName: searchString, locality: {name: searchLocality} } }">
                <span class=" h3">{{application.applicant.displayName}}<span class="small"> denied by {{application.modifiedBy.displayName}} on {{application.modified | date}}</span></span>
                <br><br>
                <button class="btn btn-default btn-sm pull-right" data-ng-click="showUserDetails[$index] = !showUserDetails[$index]">
                    <i class="fa fa-ellipsis-v fa-fw fa-2x"></i> <span class="hidden-xs h4">Show Details</span>
                </button>
                <button class="btn btn-warning btn-sm pull-right" data-ng-click="resetApplication(application)">
                    <i class="fa fa-circle-o fa-fw fa-2x"></i> <span class="hidden-xs h4">Return to Pending</span>
                </button>
                <br><br>
                <div data-ng-show="showUserDetails[$index]" class="well well-sm h4">
                    <b>Email:</b> {{application.applicant.email}}<br><br>
                    <b>Phone:</b> {{application.applicant.phone}}<br><br>
                    <b>Age:</b> {{application.applicant.age}}<br><br>
                    <b>Locality:</b> {{application.applicant.locality.name}}<br><br>
                    <b>Language:</b> {{application.applicant.language}}<br><br>
                    <b>Occupation:</b> {{application.applicant.occupation}}<br><br>
                    <b>Service Areas:</b> {{application.applicant.serviceAreas}}<br><br>
                    <b>Applied:</b> {{application.applicant.consecrated | date}} <img data-ng-src="{{application.signature}}" height="35px"/><br>
                </div>
            </li>
        </ul>
    </div>
</section>