<div data-ng-show="authentication.user">
    <div class="modal-header">
        <div class="row">
            <div class="col-xs-2">
                <i class="fa fa-quote-left fa-2x fa-border"></i>
            </div>
            
            <div class="col-xs-10 text-justify">
                <b>{{::verse.inputstring + ':' + verse.ref}}</b> <span data-ng-bind-html="sceTrust(verse.text)"></span>
            </div>
        </div>
    </div>
    <div class="modal-body">

            <div class="input-group input-group-lg">
                <label class="b input-group-addon warning"><i class="fa fa-fw fa-comment"></i></label>
                <textarea data-ng-model="comment" rows="2" name="comment" class="form-control" style="height:auto;" autofocus></textarea>
            </div>
            <br>
            <button ladda="personalNote.loading" class="btn btn-success" style="margin: 2px;" data-ng-click="create(-1)" data-ng-disabled="personalNote.disabled"><i class="fa fa-file"></i> Save Personal Note <i class="fa" data-ng-class="personalNote.resultIcon"></i></button>
            <button data-ng-repeat="group in groups" ladda="groups[$index].loading" class="btn btn-info" style="margin: 5px;" data-ng-click="create($index)" data-ng-disabled="group.disabled"><i class="fa fa-group"></i> Share with {{::group.name}} <i class="fa" data-ng-class="group.resultIcon"></i></button>     
            

        <br>
        <div>
        	<uib-alert data-ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)" dismiss-on-timeout="3500">{{alert.msg}}</uib-alert>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-default" data-ng-click="ok()">Close</button>
    </div>
</div>